<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.betterda.betterdapay">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--危险权限 拍照-->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!--危险  使用的地方 上传照片-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--  从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--在SDCard中创建与删除文件权限  -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!--极光推送权限,暂时未做权限申请-->
    <permission
        android:name="com.betterda.betterdapay.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.betterda.betterdapay.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

<!--友盟-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ForgetPwdActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ChoosePayTypeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.CollectionActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.JieSuanActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.TuiGuangActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.ChooseCityActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.MyRatingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.AddBankCardActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.AddBankCardActivity2"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.RealNameAuthActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.MyYinHangKa"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.MyTuiGuangAcitivty"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.AlreadAuthAcitity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.FeedbackActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.BianJieDaiKuanActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.BanLiActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.InformationActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.MemberActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.TransactionRecordActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.WalletActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.TiXianDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.FWalletActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.YWalletActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.WalletDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.UpActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.TuiguangActivity2"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.CreditpayActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.AddCreditrepayActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.MessageActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".livingpay.BaseLivingActiivty"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".livingpay.LivingPay"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".livingpay.LivingPayActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".livingpay.LivingRecordActivity"
            android:screenOrientation="portrait"></activity>

        <!--注册向外部提供文件访问的provider-->
        <provider
            android:authorities="com.betterda.betterdapay"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"
                />

        </provider>


        <!--注册极光的广播接收者-->
        <receiver
            android:name=".receiver.JpushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>

                <category android:name="com.betterda.betterdapay"/>
            </intent-filter>
        </receiver>
<!--友盟-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5943823b2ae85b260600150d" >
        </meta-data>

    </application>

</manifest>
